<div class="container">
    <div class="row mt-5">
        <div class="col">
            <div class="mb-3 px-3">
                <mat-card-content class="text-center">

                    <p><button mat-raised-button color="primary" (click)="setFlagZero()" class="accent">View
                            All Daily Share Price</button></p>
                </mat-card-content>
            </div>
        </div>
        <p></p>



        <div class="col">
            <div class="mb-3 px-3">
                <mat-card-content class="text-center">

                    <p><button mat-raised-button color="primary" (click)="setFlagOne()" class="accent">View
                            All Mutual Fund Price</button></p>
                </mat-card-content>
            </div>
        </div>

        <p></p>

        <div class="col" *ngIf="flag == 0">
            <div class="py-4">
                <h3 class="text-center">Daily Stock Price</h3>
                <table class="table table-hover table-bordered">
                    <thead class="thead-dark text-center">
                        <tr>
                            <th scope="col">S.N.</th>
                            <th scope="col">Name</th>
                            <th scope="col">Price</th>
                        </tr>
                    </thead>
                    <tbody class="text-center">
                        <tr *ngFor="let stock of allStock; let i = index">
                            <th scope="row">{{i+1}}</th>
                            <td>{{stock.stockName}}</td>
                            <td>{{stock.stockValue}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col" *ngIf="flag == 1">
            <div class="py-4">
                <h3 class="text-center">Daily Mutual Price</h3>
                <table class="table table-hover table-bordered">
                    <thead class="thead-dark text-center">
                        <tr>
                            <th scope="col">S.N.</th>
                            <th scope="col">Name</th>
                            <th scope="col">Price</th>
                        </tr>
                    </thead>
                    <tbody class="text-center">
                        <tr *ngFor="let mf of allMutualFund; let i = index">
                            <th scope="row">{{i+1}}</th>
                            <td>{{mf.mutualFundName}}</td>
                            <td>{{mf.mutualFundValue}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>




    </div>
</div>