<p>
    <mat-toolbar color="primary">


        &nbsp;&nbsp;&nbsp;&nbsp;
        <button mat-raised-button *ngIf="!loggedIn" routerLink="/">Portfolio Management</button>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <button mat-raised-button *ngIf="loggedIn" routerLink="/dashboard">Portfolio
            Management</button>&nbsp;&nbsp;&nbsp;&nbsp;



        <button *ngIf="loggedIn" mat-button routerLink="/sellasset">Sell Asset</button>

        <button *ngIf="loggedIn" mat-button routerLink="/viewasset">View Asset</button>

        <button *ngIf="loggedIn" mat-button routerLink="/currentprice">Current Price</button>





        <span class="example-spacer"></span>

        <button *ngIf="!loggedIn" mat-raised-button routerLink="/login">Login</button>


        <button *ngIf="loggedIn" mat-icon-button (click)="logoutUser()">Logout</button>


    </mat-toolbar>
</p>