<table>
    <tr>
        <td><input type="checkbox" (click)="doOperation()"></td>
        <td>{{mutual.mutualFundName}}</td>
        <td>{{mutual.mutualFundUnits}}</td>
        <td>{{mutual.currentPrice}}</td>




        <td>
            <mat-form-field class="example-full-width" style="height: 48px;" appearance="fill">
                <input matInput placeholder="Ex. California" min="1" max="{{mutual.mutualFundUnits}}"
                    [(ngModel)]="sales.soldUnits">
            </mat-form-field>
        </td>
    </tr>
</table>