<div class="container mt-5">
    <mat-card>
        <div class="row icon-boxes">
            <mat-card-title class="text-center"> Portfolio Management<br></mat-card-title>

            <mat-card-subtitle>
                <p></p>Portfolio management is the selection, prioritisation and control of an organisation's
                programmes and projects, in line with its strategic objectives and capacity to deliver. The goal is to
                balance the implementation of change initiatives and the maintenance of business-as-usual, while
                optimising return on investment.<p></p><br><br>
            </mat-card-subtitle>



            <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="zoom-in"
                data-aos-delay="200">
                <div class="icon-box">
                    <div class="icon"><i class="ri-stack-line"></i></div>
                    <h4 class="title"><a href="">Authorization</a></h4>
                    <p class="description">Authorization will be done with help of Encrypt.</p>
                </div>
            </div>







            <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="zoom-in"
                data-aos-delay="300">
                <div class="icon-box">
                    <div class="icon"><i class="ri-palette-line"></i></div>
                    <h4 class="title"><a href="">Daily Share</a></h4>
                    <p class="description">Sell Your Mutual Fund & Stocks</p>
                </div>
            </div>


            <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="zoom-in"
                data-aos-delay="400">
                <div class="icon-box">
                    <div class="icon"><i class="ri-command-line"></i></div>
                    <h4 class="title"><a href="">Daily Mutual Fund </a></h4>
                    <p class="description">Portfolio collected with help of system.</p>
                </div>
            </div>

            <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="zoom-in"
                data-aos-delay="500">
                <div class="icon-box">
                    <div class="icon"><i class="ri-fingerprint-line"></i></div>
                    <h4 class="title"><a href="">Calculate Networth</a></h4>
                    <p class="description">Asset will be connected</p>
                </div>
            </div>



        </div>
    </mat-card>
</div>