<div class="container">
    <div class="row">
        <div class="col">
            <div class="row mb-3 px-3 left-btn">
                <mat-card-content class="text-center">
                    <p>Get current price of all Daily-Share</p>
                    <hr>
                    <p><button mat-raised-button color="primary" routerLink="/view-menu-asset" class="accent">View
                            Daily</button></p>
                </mat-card-content>
            </div>
        </div>
        <div class="col">
            <div class="row mb-3 px-3 left-btn">
                <mat-card-content class="text-center">
                    <p>Get current price of all Mutual-Fund</p>
                    <hr>
                    <p><button mat-raised-button color="primary" routerLink="/view-menu-asset" class="accent">View
                            Mutual Fund</button></p>
                </mat-card-content>
            </div>
        </div>
    </div>
</div>